body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url("img/win11.jpg")  ;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    background-position: center;

}
.login-box{
    width: 400px;
    position: absolute;
    top: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 31px;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: white;
    background: rgba(131, 131, 189,0.1);
    box-shadow: 0 0 10px #26bf47;
}

.login-box h1{
    font-size: 50px;
    border-bottom: 6px solid #34677f;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
  
    border-bottom: 1px solid #26343b;
    
}


.textbox i{
    width: 20px;
    float: left;
    text-align: center;

}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    width: 80%;
    border-radius: 8px;
    float: left;
    margin:0 10px;
    
}

.textbox input:focus{
    box-shadow: 0 0 10px #fafcfa;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #26343b;
    color: white;
    padding:5px;
    font-size: 20px;
    animation: mymove 5s infinite;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover{
    width: 100%;
    background: red;
    border: 2px solid #26343b;
    color: white;
    padding:5px;
    font-size: 20px;
    cursor: pointer;
    animation: ptag 5s infinite;
    margin: 12px 0;
}
@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: rgb(0, 140, 255);}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }

p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    animation: ptag 5s infinite;
}
@keyframes ptag{
    0%   {box-shadow: 0 0 100px #ff1100;}
    25%  {box-shadow: 0 0 100px #26bf47;}
    50%  {box-shadow: 0 0 10px #05028d;}
    75%  {box-shadow: 0 0 10px #00ffea;}
    100% {box-shadow: 0 0 10px #ff0404;}
    
}