body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: url("/win11.jpg") no-repeat ;
    background-size: cover;

}
.login-box{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

}

.login-box h1{
    float: left;
    font-size: 50px;
    border-bottom: 6px solid #34677f;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #26343b;

}

.textbox i{
    width: 20px;
    float: left;
    text-align: center;

}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    width: 80%;
    float: left;
    margin:0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #26343b;
    color: white;
    padding:5px;
    font-size: 20px;
    animation: mymove 5s infinite;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover{
    width: 100%;
    background: red;
    border: 2px solid #26343b;
    color: white;
    padding:5px;
    font-size: 20px;
    cursor: pointer;
    
    margin: 12px 0;
}
@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }

p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}